<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNT2hZYfxyV-K7lOd-Z-Uk9qMu1tEOZiI</string>
	<key>GCM_SENDER_ID</key>
	<string>713374936833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toda.teigiApp</string>
	<key>PROJECT_ID</key>
	<string>everyone-teigi-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>everyone-teigi-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713374936833:ios:662108d31ce8b881927500</string>
</dict>
</plist>